@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Karla', sans-serif;
}

.nav-bar-list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    color: grey;
}

.nav-bar-list > li {
    cursor: pointer;
}

.nav-bar-list > li:hover {
    color: palevioletred;
}

