@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, 'Karla', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root, .App {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  --bg: #1E272E;
  --hover-color: coral;
  background-color: var(--bg);
  color: white;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
}

button.link {
  padding: 0;
  text-decoration: underline;
  font-style: italic;
}

button.link:hover{
  color: var(--hover-color);
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font: inherit;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

li {

}

button.info-nav-bar:hover {
  color: coral;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

svg {
  height: 3rem;
}

.no-scroll {
  /* flex-wrap: nowrap; */
  /* overflow: hidden; */
}

.hidden {
  display: none !important;
}