@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, 'Segoe UI Light', 'Karla', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root, .App {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  --bg: #1E272E;
  /* --bg: rgb(203, 253, 219); */
  /* --bg: white; */
  --hover-color: coral;
  /* --hover-color:   rgb(146, 46, 121); */
  --text-color: white;
  background-color: var(--bg);
  color: var(--text-color);
  /* color: #333; */
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;

  transition: all 0.3s linear;

}

button:hover {
  filter: brightness(80%);
}

button.link {
  /* padding: 0; */
  text-decoration: underline;
  font-style: italic;
}

button.link:hover{
  color: var(--hover-color);
  filter: brightness(100%);
}

button.info-nav-bar:hover {
  color: coral;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
  padding-top: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

svg {
  height: 3rem;
}

.std-btn {
  border: 2px solid var(--hover-color);
  padding: 0.5rem 1rem;
  min-width: 12rem;
  width: fit-content;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-family: 'Karla', Geneva, Tahoma, sans-serif;
}

.std-btn:hover {
  background-color: var(--hover-color);
  color: var(--bg);
  filter: none;
}

.hflex {
  display: flex;
}

.hidden {
  display: none !important;
}